* {
    background-color: #0099CC;
}

body {
    text-align: center;
}

#number {
    font-size: 75px;
    font-family: sans-serif;
}

h1 {
    font-family: 'Playfair Display', serif;
}

img {
    max-width: 100%;
    height: auto;
}

#sipka {

    height: 150px;
    width: 150px;

}